body {
    padding: 50px;
    background-image: url('Assets/newspaper-aesthetic-background-6zy4tj738voyh9fx.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.field {
    margin-bottom: 30px;
}